@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
  .font-oleo {
    font-family: 'Oleo Script', cursive;
  }
  /*//* Buttons */
  .btn {
    @apply my-2 rounded-md px-2 py-2 text-white hover:opacity-80 hover:transition hover:duration-200 disabled:bg-slate-400/50 disabled:opacity-100;
  }
  .btn-primary {
    @apply bg-purple-600;
  }
  .btn-secondary {
    @apply bg-slate-800;
  }
  /* inputs */
  input {
    @apply my-2 rounded-md border border-slate-500 px-4 py-2 outline-none;
  }
  input[type='text'] {
    @apply placeholder:italic disabled:bg-slate-100;
  }
  input[type='checkbox'] {
    @apply p-2 accent-lime-500;
  }
}
